.pageContent{
  --pageContentMargin: 1.5rem;
  margin-left: var(--pageContentMargin);
  margin-right: var(--pageContentMargin);
  margin-bottom: var(--pageContentMargin);
  padding: 0.5rem;
  overflow: hidden;
}

.pageContentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.resultInfo {

  margin-left: 20px;

}