.pageContent{
  --pageContentMargin: 1.5rem;
  margin-left: var(--pageContentMargin);
  margin-right: var(--pageContentMargin);
  margin-bottom: var(--pageContentMargin);
  padding: 0.5rem;
  overflow: hidden;
}

.pageContentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.resultInfo {

  margin-left: 20px;

}

.searchinput{
 display: flex;
}

.searchinfo
{

}

.searchinfoContent
{
  background-color: beige;
  padding: 1rem;
}

.filtergrid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-bottom: 20px;
}

.card {
  padding: 0rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 800px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}